*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}
body{
    height: 100%;
    background-color: #2E2B2B;
}


/* Nav Section*/
.nav-item_new{
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

.nav-line_3{
    height: 100%;
    border: 0.1rem solid #fff;
}


