.exit-div{
    width: 100%;
    height: 6rem;
    display: flex;
}
.exit-button {
    height: 4rem;
    width: 4rem;
    background-color: #2c2929;
    border-radius: 1rem;
    position: relative;
    border: 0.2rem solid #292727;
}

.exit-button:after {
    position: absolute;
    height: 5rem;
    bottom: 0.1rem;
    left: 0;
    right: 0;
    content: "\d7"; 
    font-size: 5rem;
    text-align: center;
}
.exit-button:hover{
    height: 4.2rem;
    width: 4.2rem;
}
.exit-button:hover:after{
    font-size: 5.2rem;
    bottom: 0.2rem;
}