@media screen and (max-width: 1100px) {
    .review-grid-title{
        font-size: 2rem;
    }
    .review-item-piece{
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}
@media screen and (max-width: 550px) {
    .review-grid{
        padding: 0.4rem;
    }
    .review-grid-item{
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .review-grid-title{
        font-size: 1.4rem;
    }
    .review-item-piece{
        font-size: 1.3rem;
        padding: 0.3rem;
    }
}
@media screen and (max-width: 400px) {
    .review-grid-title{
        font-size: 1.2rem;
    }
    .review-item-piece{
        font-size: 1.1rem;
        padding: 0.3rem;
    }
}