*{
    margin: 0;
    padding: 0;
}

.item-pop-up{
    height: 100%;
    width: 100%;
    background-color: rgba(71, 69, 67, 0.592);
    display: none;
    flex-wrap: wrap;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0rem;
    overflow-y: scroll;
}
.exit-div{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: flex-end;
}
.exit-button{
    margin-right: 3rem;
    height: 95%;
    width: 5%;
}
.exit-button:after{
    height: 4.6rem;
}
.exit-button:hover{
    height: 98%;
    width: 5.5%;
}
.exit-button:hover:after{
    font-size: 5.1rem;
    bottom: 0.2rem;
}

.outer-popup{
    display: flex;
    justify-content: center;
    width: 65%;
    height: 85%;
    margin-right: 1rem;
}
.left-side{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: auto;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;

    border: 0.4rem solid #292727;
    border-radius: 3rem;
    background-color: #2c2929;
    border-right: none;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    padding-top: 1.7rem;
    padding-left: 0.5rem;
}
.item-img{
    width: 90%;
    height: 40%;
}
.genres-div{
    margin-bottom: 0.5rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    background-color: #242222;
    border: 0.4rem solid #292727;
    border-radius: 2rem;
}
.genres-title{
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 2.1rem;
    border-bottom: 0.4rem solid #292727;
    border-radius: 0.5rem;
}
.item-genres{
    width: 100%;
    height: 78%;
    text-align: center;
    font-size: 1.7rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    padding-bottom: 0.4rem;
}

.middle{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 0.4rem solid #292727;
    border-radius: 3rem;
    background-color: #2c2929;
    border-left: none;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
}
.item-piece{
    background-color: #242222;
    border: 0.4rem solid #292727;
    border-radius: 2rem;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
}
.review-button{
    width: 15%;
    display: none;
    text-align: center;
    height: auto;
    border: 0.2rem solid #fff;
}
.item-title{
    font-size: 2.4rem;
    width: 65%;
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    justify-content: flex-start;
}
.watch-list-div{
    padding: 0;
    width: 19%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch-list-text{
    display: inline;
    font-size: 1.4rem;
    margin-right: 0.5rem;
}

.watch-list-check_span{
    position: relative;
    height: 60%;
    width: 1.6rem;
    background-color: #fff;
    border-radius: 2rem;
}
.item-average-rating{
    width: 28%;
    height: auto;
    font-size: 1.4rem;
    text-align: center;
}
.item-status{
    width: 25%;
    height: auto;
    font-size: 1.4rem;
    text-align: center;
}
.item-runtime{
    width: 30%;
    height: auto;
    font-size: 1.2rem;
    text-align: center;
}
.item-seasons{
    width: 22%;
    height: auto;
    display: none;
    font-size: 1.4rem;
    text-align: center;
}
.item-episodes{
    width: 30%;
    height: auto;
    display: none;
    font-size: 1.4rem;
    text-align: center;
}
.item-first-airdate{
    width: 40%;
    height: auto;
    display: none;
    font-size: 1.4rem;
    text-align: center;
}
.item-last-airdate{
    width: 40%;
    height: auto;
    display: none;
    font-size: 1.4rem;
    text-align: center;
}

.item-budget,
.item-revenue,
.item-release-date,
.item-tagline{
    width: 30%;
    font-size: 1.4rem;
    height: auto;
    display: none;
    text-align: center;
}

.item-release-date{
    width: 26%;
    height: auto;
    font-size: 1.3rem;
}

.disc-div{
    width: 99%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1rem;

}
.disc-title{
    width: 100%;
    height: 10%;
    font-size: 2rem;
    margin-bottom: 0.2rem;
    padding-left: 0.6rem;
}
.item-disc{
    font-size: 1.4rem;
    padding: 0.6rem;
}




/* right side */
.right-side{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 85%;
    width: 32%;
    border: 0.4rem solid #292727;
    border-radius: 3rem;
    background-color: #2c2929;
}
.review-exit-button{
    display: none;
    width: 10%;
}
.review-title{
    margin-top: 0.5rem;
    font-size: 2rem;
    background-color: #242222;
    border: 0.4rem solid #292727;
    border-radius: 2rem;
    width: 95%;
    height: 5%;
    text-align: center;
    padding-top: 0.5rem;
}
.review-form{
    margin-top: 0.5rem;
    background-color: #242222;
    border: 0.4rem solid #292727;
    border-radius: 2rem;
    width: 95%;
    height: 55%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.form-item{
    margin: 0.5rem;
    border: 0.3rem solid #292727;
    border-radius: 2rem;
    background-color: #2c2929;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}
.form-item:focus{
    outline: none;
}
.review-date{
    width: 70%;
    height: 2rem;
}
.review-season{
    width: 40%;
    font-size: 1.1rem;
}
.review-episode{
    width: 40%;
    font-size: 1.1rem;
}
.review-rating{
    width: 8%;
    height: 8%;
}
.review-rating-text{
    padding-top: 1rem;
    font-size: 1.6rem;
}
.review-notes{
    width: 90%;
    height: 40%;
    text-align: left;
    resize: none;
    font-size: 1.3rem;
    padding: 0.5rem;
}
.review-submit{
    width: 30%;
    height: 10%;
}
.review-submit:hover{
    width: 33%;
    height: 12%;
    font-size: 1.7rem;
}
.review-submit:active{
    width: 29%;
    height: 9%;
    font-size: 1.5rem;
}



/*History*/
.review-history-div{
    margin-top: 0.5rem;
    background-color: #242222;
    border: 0.4rem solid #292727;
    border-radius: 2rem;
    width: 95%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.history-item{
    margin: 0.5rem;
    border: 0.3rem solid #292727;
    border-radius: 2rem;
    background-color: #2c2929;
    color: #fff;
    font-size: 1.6rem;
    text-align: left;
    padding-left: 0.5rem;
}
.review-history-title{
    width: 95%;
    height: 15%;
}
.review-last-entry{
    width: 95%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.history-all-button{
    margin-left: 1rem;
    font-size: 1rem;
    width: 95%;
}
.history-all-button:hover{
    font-size: 1.2rem;
}

.last-review-date{
    font-size: 1.2rem;
    width: 60%;
    height: 1.5rem;
    margin-top: 0.5rem;
}
.last-review-score{
    font-size: 1.2rem;
    width: 40%;
    height: 1.5rem;
    margin-top: 0.5rem;
}
.last-review-season{
    font-size: 1.2rem;
    width: 60%;
    height: 1.5rem;
    margin-top: 0.5rem;
}
.last-review-episode{
    font-size: 1.2rem;
    width: 40%;
    height: 1.5rem;
    margin-top: 0.5rem;

}
.last-review-note{
    font-size: 1.2rem;
    width: 100%;
    height: 1rem;
    text-align: left;
    margin-top: 1rem;
    margin-left: 1.3rem;
}

