*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}
body{
    height: 100%;
    background-color: #2E2B2B;
}


/* Nav Section*/
.nav-item_watch{
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

.nav-line_1{
    height: 100%;
    border: 0.1rem solid #fff;
}
.nav-line_2{
    height: 100%;
    border: 0.1rem solid #fff;
}


.watchlist-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}
.watchlist-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0.5rem;
    background-color: #242222;
    border: 0.4rem solid #292727;
    border-radius: 3rem;
    margin: 1rem;
    padding: 1.5rem;
    height: auto;
    width: 40%;
    color: #FFF;
}

.watchlist-img{
    grid-row: 1/4;
    grid-column: 1/2;
    width: 100%;
}
.watchlist-title{
    grid-row: 1/2;
    grid-column: 2/3;
    height: fit-content;
    font-size: 2rem;
}
.watchlist-genres{
    grid-row: 3/4;
    grid-column: 2/4;
    font-size: 1.5rem;
    align-self: center;
}
.watchlist-media{
    grid-row: 2/3;
    grid-column: 2/3;
}
.watchlist-exit-button{
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 70%;
    background-color: #242222;
    border: 0.2rem solid #292727;
    border-radius: 2rem;
    font-size: 0.9rem;
}
